{% load static %}
<html>
    <head>
        <title>Tennis</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% block css %}
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        {% endblock %}
    </head>
    
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">My Tennis BLOG</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <br>

        <div id="footer">
            
            <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Meron Essayas</h5>
                  <p class="card-text">I post about tennis related content.</p>
                  <a href="http://meronada.pythonanywhere.com/" class="btn btn-primary">My Website</a>
                </div>
              </div>
            
        </div>

    </body>
</html>